<html>
  <head>
    <title>$i18n.getText("spacepermissionshandler.admin.label")</title>
	<meta name="decorator" content="atl.admin">
	$webResourceManager.requireResource("org.ttorvela.confluence.plugins.space-permissions-handler:resources")
	<meta name="application-base-url" content="$applicationProperties.getBaseUrl()">
  </head>
  <body>
    <script type="text/javascript">
      var baseUrl = "$applicationProperties.getBaseUrl()";
	  var versionNumber = "$applicationProperties.getVersion()";
    </script>
    <form id="admin" class="aui">
	  <div class="field-group">
		<label for="usernameFrom">$i18n.getText("spacepermissionshandler.admin.username.from.label")</label>
		<input type="text" id="usernameFrom" name="usernameFrom" class="autocomplete-user" data-none-message="No users found" data-template="{username}">
	  </div>
	  <div class="field-group">
		<label for="usernameTo">$i18n.getText("spacepermissionshandler.admin.username.to.label")</label>
		<input type="text" id="usernameTo" name="usernameTo" class="autocomplete-user" data-none-message="No users found" data-template="{username}">
	  </div>
	  <div class="checkbox">
		<input id="copyOnlyUserPermissions" class="checkbox" type="checkbox" name="copyOnlyUserPermissions">
		<label for="copyOnlyUserPermissions">Copy only user permissions (ignore permissions from groups)</label>
	  </div>
	  <div class="field-group">
		<input id="copyButton" type="submit" value="$i18n.getText("spacepermissionshandler.admin.copy.label")" class="button" style="display: none;">
		<input id="viewButton" type="submit" value="$i18n.getText("spacepermissionshandler.admin.view.label")" class="button">
	  </div>
	  <div id="copyStatus">
	  </div>
	  <div id="results">
	  </div>
	  <div id="throbber" class="hidden"></div>
	</form>
  </body>
</html>